@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
}

#profile{
    width: 1250px;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C59B7A;
}

#profile-name{
    border: 2px solid;
    border-bottom: 0px;
    background-color: #bc8255;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    font-family: 'LOTTERIACHAB';
}

.profile-name-text{
    text-align: center;
    font-size: 25px;
}

#profile-img{
    border: 2px solid;
    border-bottom: 0px;
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f0edd8;
}

#profile-img img{
    width: 370px;
    height: 434px;
    margin-top: 5px;
}

#profile-detail{
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid;
}

#profile-detail table{
    width: 700px;
    height: auto;
    background-color: #f0edd8;
}

#profile-detail table a {
    text-decoration: none;
    color: black;
}

#profile-detail td{
    font-family: 'SF_HambakSnow';
    width: 270px;
    font-size: 30px;
    text-align: center;
}

#profile-detail td a img {
    width: 100px;
    height: 100px;
}

.td-left {
    background-color: rgb(207, 171, 95);
}

.td-right {
    background-color: wheat;
}